{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">

	<link href="{% static 'accounts/bootstrap.min.css' %}" rel="stylesheet">

	<link href="{% static 'accounts/signin.css' %}" rel="stylesheet" type="text/css">
	
	<title>Login Page</title>

</head>

<body>
  
  {% block content %}


  {% endblock %}

</body>
</html>



	

